<form action="<%= track_notes_url(track) %>" method=post>
  <input type="hidden" name="note[track_id]" value="<%= track.id %>">

  <label>
    Add your note to this track!
    <textarea name="note[body]"></textarea>
  </label>

  <input type="submit" value="Add note">
</form>